<body>
  <div class="page-wrapper">

      {% block content %}
      {% endblock %}



<footer class="eshop-footer">
  <div class="container">

    <div class="row footer-top">

      <!-- LOGO -->
      <div class="col-md-3">
        <h4 class="logo">MyDjango eShop</h4>
        <p class="slogan">Smart Shopping Platform</p>
      </div>

      

      <!-- SUPPORT (Address here) -->
      <div class="col-md-3">
        <h6>Support</h6>
        <p class="mb-1">
          <i class="bi bi-geo-alt-fill"></i>
          #12, 2nd Floor, MG Road,<br>
          Bangalore, Karnataka 560001,<br>
          India
        </p>
        <p class="mb-0">
          <i class="bi bi-envelope-fill"></i>
          support@mydjangoeshop.com
        </p>
      </div>

      <!-- ABOUT -->
      <div class="col-md-3">
        <h6>About</h6>
        <p class="small">
          MyDjango eShop is a Django-based ecommerce project for browsing products,
          adding to cart, and placing orders easily.
        </p>
      </div>

    </div>

    <hr>

    <!-- SOCIAL + COPYRIGHT -->
    <div class="footer-bottom text-center">
      <div class="social-icons">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-github"></i>
      </div>
      <p class="copy">© 2026 MyDjango eShop. All rights reserved.</p>
    </div>

  </div>
</footer>
 </div>
</body>