* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* NAVBAR – ALL IN ONE */

body {
  padding-top: 70px;

       background: linear-gradient(#ffffff, #dfe9f3, #ffffff);

}

/* NAVBAR BASE */
.navbar {
  background: linear-gradient(#e6caca, #aeceed, #a5ebdd);
  padding: 0.55rem 1.2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

}

/* BRAND */
.navbar-brand {
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgb(95, 91, 91) !important;
  text-transform: uppercase;
}

/* LEFT NAV (Home, About, Contact, Manage) */
.navbar-nav.me-auto {
  align-items: center;
  flex-wrap: nowrap;
}

.navbar-nav.me-auto .nav-item {
  margin-right: 22px;
}

.navbar-nav.me-auto .nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: rgb(95, 91, 91) !important;
}

.navbar-nav.me-auto .nav-link:hover,
.navbar-nav.me-auto .nav-link.active {
  color: #880ae3 !important;
  /* Flipkart yellow */
  
}

/* MANAGE (ADMIN) */
.navbar-nav.me-auto .dropdown-toggle {
  font-weight: 600;
}

/* DROPDOWN MENU */
.dropdown-menu {
  border-radius: 2px;
  border: none;
  box-shadow: 0 4px 12px rgba(181, 188, 186, 0.25);
  padding: 0.4rem;
}

.dropdown-item {
  font-size: 0.85rem;
  color: rgb(47, 43, 43);
  background-color: #8bb2dc;
}

.dropdown-item:hover {
  background-color: #e5b8f3;
  color: #090909;
}

/* SEARCH BAR */
form.d-flex.flex-grow-1 {
  flex-grow: 0 !important;
  max-width: 420px;

}

form input.form-control {
  height: 36px;
  font-size: 0.85rem;
  border: none;
  border-radius: 2px 0 0 2px;
  background-color: rgb(214, 236, 240);
  border: 1px solid #111;
}

form input.form-control::placeholder {
  color: #777;
}

form input.form-control:focus {
  box-shadow: none;
}

/* SEARCH BUTTON */
form button.btn-success {
  height: 36px;
  background-color: #cd9ef1;
  border: none;
  color: #000;
  border-radius: 0 2px 2px 0;
  font-weight: 600;
}



/* RIGHT NAV (CART + USER) */
.navbar-nav.ms-auto .nav-item {
  margin-left: 14px;
}

.bi-cart3,
.bi-person-circle {
  color: #474444;
}

/* CART BADGE */
.cart-badge {
  background-color: #ff6161;
  color: #ffffff;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}

/* MOBILE */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}


/** Product Contain  **/
.Prod-contais {
  padding: 20px;
  

  #products-container {

    .product-card {
      background-color: rgba(224, 236, 237, 0.903);
      height:450px;
      width: 250px;
      border-radius: 18px;
      overflow: hidden;
      transition: 1s;
      box-shadow: 5px 4px 10px rgba(20, 19, 19, 0.08);
     border: 3px solid #abdbf3;
     .products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 10px 25px rgba(8, 8, 8, 0.15);
      }

      .card-img-top {
        height: 250px;
        object-fit: cover;
      }

      .card-body {
        text-align: center;

        .card-title {
        
          color: #000;
          font-size: 25px;
          font-weight: bold;


        }

        .no-decoration {
          text-decoration: none;
        }

        .card-text {
          font-size: 14px;
          color: rgb(20, 20, 20);
          height: 40px;
          overflow: hidden;
       
          margin-bottom: 10px;
        }

        .card-price {
          color: #0e0206;
          font-weight: bold;
         
           margin-bottom: 15px;
        }

        .add-to-cart {
          border-radius: 30px;
          font-weight: 600;
          transition: 0.3s;

          &:hover {
            background: rgb(4, 83, 231);
            border-color: rgb(51, 16, 16);
          }
        }
      }
    }
  }
}

/* Product Details */
.produ-details {
  display: flex;
  gap: 40px;
  padding: 40px;
  align-items: flex-start;
}

.produ-details .product-carousel {
  width: 55%;
}

.produ-details .carousel-inner {
  border-radius: 12px;
  overflow: hidden;
}

.produ-details .carousel-inner img {
  height: 420px;
  object-fit: cover;
}

.produ-details .product-info {
  width: 45%;
  padding: 10px 20px;
}

.produ-details .product-thumb {
  width: 80px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #eee;
}

.produ-details .product-title {
  font-size: 28px;
  font-weight: 600;
}

.produ-details .product-desc {
  color: #666;
  margin-bottom: 15px;
}

.produ-details .price {
  font-size: 26px;
  font-weight: bold;
  color: #ff9800;
}

.produ-details .btn-group {
  display: flex;
  gap: 10px;
}
/* UPLOADE IMAGE */
.upload-img {
  margin-top: 50px;
  margin-bottom: 20px;
margin-left: 30px;
 
  /* less bottom space */

  .card {
    border-radius: 12px;
    overflow: hidden;
   border: 2px solid #222;
    width: 250px;
    

    .card-header {
      background: #b9dede;
      padding: 18px 25px;

      h5 {
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }

    .card-body {
      padding: 25px;

      form {
        p {
          margin-bottom: 15px;

          label {
            font-weight: 800;
            margin-bottom: 5px;
            display: block;
            color: #333;
          }

          input{
            width: 100%;
            padding: 8px;
            border: 1px solid #0b0a0a ;
            border-radius: 6px;
            background: #fafafa;

            &:hover {
              border-color: #0f0101;
            }
          }
        }

        .d-grid {
          margin-top: 15px;

          .btn {
            padding: 10px;
            font-size: 15px;
            font-weight: 600;
            border-radius: 8px;
            transition: 0.3s;
            background-color: #99b0df;
            color: #000;

            &:hover {
              background: #426cdf;
            }
          }
        }
      }
    }
  }
}
/* Footer */


html{
  height: 100%;
  margin: 0;
}


.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.eshop-footer {
  background: #0b0b0b;
  color: #bbb;
  padding: 50px 0 20px;
  font-size: 14px;
  
      margin-top: auto;

  .logo {
    color: #fff;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .slogan {
    font-size: 12px;
    color: #888;
  }

  h6 {
    color: #fff;
    margin-bottom: 12px;
    font-weight: 600;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 8px;

      a {
        color: #aaa;
        text-decoration: none;
        font-size: 14px;

        &:hover {
          color: #fff;
          padding-left: 4px;
          transition: 0.2s;
        }
      }
    }
  }

  p {
    margin-bottom: 6px;
    color: #aaa;
    line-height: 1.5;
  }

  i {
    margin-right: 6px;
    color: #facc15;
  }

  hr {
    border-color: #222;
    margin: 25px 0;
  }

  .footer-bottom {
    text-align: center;

    .social-icons {
      margin-bottom: 10px;

      i {
        font-size: 18px;
        margin: 0 8px;
        color: #ccc;
        cursor: pointer;

        &:hover {
          color: #fff;
          transform: scale(1.1);
        }
      }
    }

    .copy {
      font-size: 12px;
      color: #777;
    }
  }
}


 /* Product info */
.product-info {
    width: 320px;
    min-height: 320px;
    padding: 18px;
   border-radius: 25px;
    background: #e9f2f2;
    box-shadow: 0 6px 18px rgba(55, 187, 103, 0.08);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     border: 2px solid #222; 
    align-items: center;

    &:hover {
        transform: translateY(-8px);
    }

    .product-thumb {
        width: 150px;
        height: 150px;
        object-fit: cover;
       /* circle image */
        margin: 0 auto 12px;
        display: block;
    }

    .product-title {
        font-size: 20px;
        font-weight: 900;
        margin: 8px 0;
        color: #222;
        text-align: center;
    }

    .product-desc {
        font-size: 19px;
        color: #242121;
        margin-bottom: 8px;
        text-align: center;
    }

    .price {
        font-size: 19px;
        font-weight: bold;
        color: #030603;
        margin: 10px 0;
    }

    .btn-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
        

        .btn {
                      
            height: 45px;
            border-radius: 50px;      /* pill shape */
            font-size: 14px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .add-to-cart {
            background: #69a3e2;
            color: #0c0c0c;
            width: 250px;
            
            &:hover {
                background: #4290e2;
            }
        }

        .btn-warning {
            background: #efd790;
            color: #000;
            width: 250px;

            &:hover {
                background: #e9bd39;
            }
        }

        .btn-danger {
            background: #e7616f;
            color: #0f0d0d;
            width: 250px;
           
            &:hover {
                background: #e04c5b;
            }
        }
    }
}


/* carosal */

#carouselExampleCaptions {
  width: 100%;
  max-height: 480px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);

  .carousel-inner {

    .carousel-item {
      height: 480px;
      position: relative;

      img {
        width: 100%;
        height: 480px;
        object-fit: cover;
        filter: brightness(70%);
      }

      .carousel-caption {
       
        text-align: left;
       
        
        h5 {
          font-size: 30px;
          font-weight: 800;
          color: #fff;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;
          color: #eee;
          margin-bottom: 15px;
        }

        .btn {
          padding: 10px 22px;
          font-size: 14px;
          font-weight: 600;
          border-radius: 50px;
          text-decoration: none;
          transition: 0.3s;
        }

        .btn-light {
          background: #fff;
          color: #000;

          &:hover {
            background: #facc15;
            color: #000;
          }
        }

        .btn-light-outline {
          border: 2px solid #fff;
          color: #fff;
          background: transparent;

          &:hover {
            background: #fff;
            color: #000;
          }
        }
      }
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 5%;

    span {
      background-size: 70%;
      background-color: rgba(0,0,0,0.4);
      padding: 18px;
      border-radius: 50%;
    }
  }

  .carousel-indicators {
    bottom: 15px;

    button {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      opacity: 0.5;

      &.active {
        opacity: 1;
        transform: scale(1.3);
      }
    }
  }
}
/* carousel-detail */

.carousel-detail {
   background: #f7f8fa;
  min-height: 100vh; 
 align-items: flex-start;
 justify-content: center;  

  section {
    background: #fff;
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.06);

    h3 {
      font-weight: 700;
      color: #222;
    }

    .btn-success {
      border-radius: 50px;
      padding: 8px 18px;
      font-weight: 600;
      box-shadow: 0 3px 10px rgba(0,0,0,0.1);
      

      &:hover {
        transform: translateY(-2px);
      }
    }

    .row {
      margin-top: 10px;
    }

    .card {
      border: 1px solid black;
      border-radius: 18px;
      overflow: hidden;
      transition: 0.3s ease;
      box-shadow: 0 6px 16px rgba(0,0,0,0.08);

      &:hover {
        transform: translateY(-6px);
        box-shadow: 0 12px 25px rgba(0,0,0,0.12);
      }

      img {
        height: 200px;
        width: 100%;
        object-fit: cover;
      }

      .card-body {
        padding: 14px;


        h6 {
          font-weight: 900;
          color: #222;
          margin-bottom: 6px;
        }

        p {
          font-size: 13px;
          color: #666;
        }

        .badge {
          padding: 6px 10px;
          border-radius: 20px;
          font-size: 11px;
          font-weight: 600;
        }

        .bg-success {
          background: #16a34a !important;
          width: 25%;
        }

        .bg-secondary {
          background: #6b7280 !important;
        }
      }

      

        .btn {
          border-radius: 30px;
          font-size: 13px;
          font-weight: 600;
          transition: 0.2s;
        }

        .btn-warning {
          background: hwb(48 47% 7%);
         
          color: #000;
          width: 10px;
         
        }

        .btn-danger {
          background: #e46969;
          

         
        }
      }
    }
  }

 /* edit-carousel */
 .edit-carousel {
 
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 20px;
  .container {
    max-width: 700px;
  
    margin: 0 auto;
  }

  max-width: 700px;
  margin: 0 auto;
  background: #95d1ad;
  padding: 30px;
  border-radius: 18px;
  
 
  h3 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 20px;
  }

  form {
    p {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        font-weight: 600;
        margin-bottom: 6px;
      }

      input,
      textarea,
      select {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #0e0d0d;

        &:focus {
          border-color: #16a34a;
          outline: none;
        }
      }
    }

    .d-flex {
      margin-top: 20px;

      .btn {
        border-radius: 50px;
        padding: 10px 20px;
        font-weight: 600;
      }

      .btn-success {
        background: #16a34a;
        border: none;
         border-radius: 50px;
         width: 100px;
         height: 50px;
      }

      .btn-secondary {
        background: #1d1d1e;
        border: none;
      }
    }
  }
}

/* product-img-edit */

.product-img-edit {
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
   background: linear-gradient(120deg,  #c3b0d7, #8bb2ec, #c3b0d7);
    margin-top: 25px;
    width: 950px;
    margin-left: 300px;
    border-radius: 12px;
}

/* Card */
.product-img-edit .edit-product-card {
    width: 350px;
    background: #fff;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border: 1px solid #eee;
   
}

/* Title */
.product-img-edit .edit-title {
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
    font-size: 22px;
    color: #222;
   
}

/* Image inside title area */
.product-img-edit .product-preview {
    display: block;
    width: 100%;
    max-height: 220px;
    object-fit: contain;
    margin-bottom: 20px;
    border-radius: 12px;
    border: 1px solid #0d0d0e;
    padding: 8px;
}

/* Form labels */
.product-img-edit form p {
    margin-bottom: 15px;
    font-weight: 600;
    color: #1f1c1c;
}

/* Inputs */
.product-img-edit form input,
.product-img-edit form textarea,
.product-img-edit form select {
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #0795b9;
    margin-top: 6px;
    transition: 0.2s;
}

/* Focus effect */
.product-img-edit form input:focus,
.product-img-edit form textarea:focus {
    border-color: #0d3471;
    outline: none;
    box-shadow: 0 0 6px rgba(13,52,113,0.2);
}

/* Button */
.product-img-edit button {
    margin-top: 20px;
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    background: #2560d6;
    color: rgb(41, 29, 29);
    font-weight: 600;
    margin-bottom:20px ;
}


/* cart page edit */

.cart-page {
  background: #f5f7fa;
  min-height: 100vh;

  .cart-title {
    font-size: 38px;
    font-weight: 700;
    color: #222;
  }

  /* LEFT SIDE – PRODUCT LIST */
  .product-card,
  .cart-item {
    background: #f1ebeb;
    border-radius: 18px;
    padding: 18px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid #545151;
    transition: 0.2s;

  }
 
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    padding: 12px 16px;
    background: linear-gradient(45deg, #f8f9ff, #eef2ff);
    border-radius: 10px;
    border: 1px solid #bcbdc2;

    span {
        &:first-child {
            font-size: 20px;
            font-weight: 500;
            color: #555;
        }

       
    }
}


    /* PRODUCT IMAGE */
  img {
    border-radius: 12px;
    width: 200px;
    height: 200px;
  }

  /* PRODUCT TITLE */
  h5, h6 {
    font-weight: 600;
    color: #222;
  }

  /* PRICE */
  .price,
  .text-warning {
    font-size: 18px;
    font-weight: 700;
    color: #13110f;
  }
 

  /* RIGHT SIDE – ORDER SUMMARY */
  .cart-summary {
    border-radius: 20px;
   border: 1px solid black;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    background: #e9f7f5;

    h5 {
      font-weight: 700;
      color: #151414;
    }

    .btn-warning {
      background: linear-gradient(135deg, #f3eee4, #f5cea2);
      border: 1px solid black;
      border-radius: 40px;
      padding: 12px;
      font-size: 16px;
      transition: 0.2s;

      &:hover {
        transform: scale(1.03);
        box-shadow: 0 6px 15px rgba(255,136,0,0.3);
      }
    }
  }

  /* QUANTITY BUTTONS */
  .qty-btn {
    border-radius: 8px;
    padding: 4px 10px;
   
    border: 1px solid #750606;
  }

  /* EMPTY CART */
  .empty-cart {
    text-align: center;
    padding: 60px 0;

    img {
      width: 180px;
      opacity: 0.8;
      margin-bottom: 15px;
    }

    h4 {
      font-weight: 600;
      color: #e3cbcb;
    }
  }
}

/* Register Page */
.register-page {
  background: linear-gradient(135deg, #f8faf5, #eef1f5);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 420px;
    background:rgba(192, 239, 229, 0.996);
    padding: 35px 30px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
    border: 1px solid #151313;
  }

  h3 {
    font-weight: 700;
    color: #222;
    letter-spacing: 0.5px;
  }

  form {

    .alert {
      border-radius: 10px;
      font-size: 14px;
    }

    /* All form fields */
    input, select, textarea {
      width: 100%;
      padding: 11px;
      border-radius: 10px;
      border: 1px solid #292424;
      margin-bottom: 12px;
      transition: 0.2s;
      font-size: 14px;
    }

    input:focus, select:focus, textarea:focus {
      border-color: #110f0c;
      outline: none;
      box-shadow: 0 0 6px rgba(255,193,7,0.25);
    }

    label {
      font-weight: 600;
      margin-bottom: 5px;
      color: #444;
    }


    /* Login link text */
    p {
      font-size: 20px;
      color: #080707;

      a {
        font-weight: 600;
        color: #e14830;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* Login page */
.login-page {
  background: linear-gradient(135deg, #eef2f7, #f9fafc);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    max-width: 400px;
    background: #d8ecf6;
    padding: 35px 30px;
    border-radius: 18px;
    box-shadow: 0 12px 35px rgba(0,0,0,0.08);
    border: 1px solid #0a0909;
  }

  h3 {
    font-weight: 700;
    color: #222;
    letter-spacing: 0.5px;
  }

  form {

    .alert {
      border-radius: 10px;
      font-size: 14px;
      padding: 10px;
    }

    /* Form fields */
    input {
      width: 100%;
      padding: 11px;
      border-radius: 10px;
      border: 1px solid #300b0b;
      margin-bottom: 12px;
      transition: 0.2s;
      font-size: 14px;
    }

    input:focus {
      border-color: #28a745;
      outline: none;
      box-shadow: 0 0 6px rgba(40,167,69,0.25);
    }

    label {
      font-weight: 600;
      color: #110e0e;
      margin-bottom: 4px;
    }

    /* Login Button */
    .btn-success {
      border-radius: 40px;
      padding: 12px;
      font-weight: 600;
      font-size: 15px;
      background: linear-gradient(135deg, #28a745, #20c997);
      border: none;
      transition: 0.3s;
    }

    .btn-success:hover {
      transform: translateY(-2px);
      box-shadow: 0 6px 15px rgba(40,167,69,0.3);
    }

    /* Bottom text */
    p {
      font-size: 20px;
      color: #0e0c0c;

      a {
        color: #28a745;
        font-weight: 600;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    /* Forgot password link */
    .text-center a:last-child {
      font-size: 15px;
      color: #0c0b0b;
    }
  }
}

/* Reset Password Section */

.reset-psw {
    max-width: 420px;
    margin: 60px auto;
    padding: 30px;
    border-radius: 18px;
    background: linear-gradient(135deg, #ffffff, #f7f9fc);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    border: 1px solid #0d0f13;
}

/* Heading */
.reset-psw h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 800;
    color: #333;
}

/* Form area */
.reset-psw form {
    width: 100%;
}

/* Label */
.reset-psw form .form-lable {
    font-weight: 500;
    color: #0a0707;
    margin-bottom: 6px;
}

/* Input box */
.reset-psw form .form-control {
    height: 45px;
    border-radius: 12px;
    border: 1px solid #302a2a;
   
}

/* Input focus effect */
.reset-psw form .form-control:focus {
    border-color: #eed68e;
    box-shadow: 0 0 6px rgba(255, 193, 7, 0.4);
}

/* Button style (pill) */
.reset-psw form .btn {
    width: 50%;
    height: 45px;
    margin-top: 15px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
       background: linear-gradient(45deg, #f3dab5, #eab48a);
    border: none;
    color: #2c2626;
    transition: 0.3s ease;
    border: 1px solid #171515;
    
}

/* Verify OTP Section */

.verify-otp {
    max-width: 520px;
    margin: 70px auto;
    padding: 32px;
    border-radius: 18px;
    background: linear-gradient(135deg, #f1e3e3, #f3f6fb);
    box-shadow: 0 8px 22px rgba(0,0,0,0.08);
    border: 1px solid #062f80;
    text-align: center;
}

/* Heading */
.verify-otp h2 {
    margin-bottom: 22px;
    font-weight: 600;
    color: #2c3e50;
}

/* Error alert */
.verify-otp .alert {
    border-radius: 12px;
    font-size: 14px;
}

/* Form */
.verify-otp form {
    margin-top: 10px;
}

/* OTP Input */
.verify-otp form .form-control {
    height: 48px;
    border-radius: 12px;
    border: 1px solid #131111;
    padding-left: 14px;
    font-size: 16px;
    letter-spacing: 2px;
    text-align: center;
    transition: 0.3s ease;
}

/* Focus effect */
.verify-otp form .form-control:focus {
    border-color: #28a745;
    box-shadow: 0 0 6px rgba(40,167,69,0.35);
}

/* Verify button (pill style) */
.verify-otp form .btn {
    width: 50%;
    height: 45px;
    margin-top: 15px;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: 0.5px;
    background: linear-gradient(45deg, #28a745, #1e7e34);
    border: none;
    color: white;
    transition: 0.3s ease;
}

/* New Password Section */


.new-psw {
    max-width: 450px;
    margin: 70px auto;
    padding: 35px;
    border-radius: 18px;
    background: linear-gradient(135deg, #e8f6db, #dcf3e4);
    box-shadow: 0 8px 22px rgba(0,0,0,0.08);
    border: 1px solid #2d3827;
}

/* Heading */
.new-psw h2 {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 700;
    color: #191d21;
}

/* Form spacing */
.new-psw form {
    margin-top: 10px;
}

/* Input fields (from Django form) */
.new-psw form input {
    width: 100%;
    height: 46px;
    border-radius: 12px;
    border: 1px solid #451c1c;
    padding-left: 12px;
    margin-bottom: 15px;
  
}

/* Focus effect */
.new-psw form input:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 6px rgba(13,110,253,0.35);
    outline: none;
}

/* Reset button (pill style) */
.new-psw form .btn {
    width: 50%;
    height: 46px;
   
    font-weight: 600;
    letter-spacing: 0.5px;
 border-radius: 50px;
    border: none;
    color: white;
    transition: 0.3s ease;
}



/* Error text (Django validation) */
.new-psw .text-danger {
    font-size: 13px;
    margin-top: -10px;
    margin-bottom: 10px;
}


/* password-success*/
.psw-sucss {
    max-width: 420px;
    margin: 80px auto;
    padding: 35px 25px;
    background: #eddddd;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    border: 1 px solid black;

    h2 {
        font-size: 30px;
        color: #0e0f0e;
        margin-bottom: 25px;
    }

    div {
        margin-top: 15px;

        .btn {
            padding: 10px 22px;
            border-radius: 50px;
            font-weight: 600;
            border: 1 px solid black;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
}



/* Page background */
body {
    background: #f4f6fb;
}

/* Check Out Page */
.container {

    .checkout-card {
        max-width: 650px;
        margin: auto;
        padding: 30px;
        background: #edf4f5;
        border-radius: 12px;
        border: 2px solid #093eee;   /* OUTLINE */
        box-shadow: 0 6px 14px rgba(0,0,0,0.06);

        h1 {
            font-weight: 700;
            margin-bottom: 10px;
            color: #171615;
        }

        p {
            color: #130101;
        }

        .order-details {
            padding: 15px;
            border: 2px dashed #080909;   /* OUTLINE BOX */
            border-radius: 10px;
            margin-top: 15px;

            h4 {
                font-weight: 600;
                margin-bottom: 10px;
            }

            p {
                margin: 5px 0;

                strong {
                    color: #000;
                }
            }
        }

        .mb-4 {
            padding: 15px;
            border: 1px solid #0e0e0f;   /* ADDRESS OUTLINE */
            border-radius: 10px;

            h4 {
                font-weight: 600;
                margin-bottom: 8px;
            }

            p {
                line-height: 1.6;
                color: #181717;
            }

            .btn {
                border-radius: 30px;
                font-weight: 600;
                margin-top: 10px;
              
            }
        }

        .cancel-btn {
            border-radius: 30px;
            font-weight: 600;
            border: 2px solid #e30b20;  /* BUTTON OUTLINE */
            background: #ee9ea6;
            color: rgb(28, 26, 26);
        }

      
    }
}
/* VIEW ORDER*/

.view-order {

    h2 {
        font-weight: 700;
        color: #010a13;
        text-align: center;
        margin-bottom: 15px;
    }

    .card {
       background-color:rgb(227, 236, 235)
       ;
        border-radius: 14px;
        box-shadow: 0 8px 18px rgba(0,0,0,0.06);
        overflow: hidden;
        width: 700px;
        border: 2px solid #080909; 
        .card-header {
            font-weight: 600;
            font-size: 15px;
        }

        .card-body {
            p {
                margin-bottom: 6px;
                color: #0d0000;
                font-size: 20px;
                strong {
                    color: #000;
                }
            }

            .ordered-items {

                .d-flex {
                    padding: 8px 0;
                    transition: 0.2s;
                    

                    &:hover {
                        background: #cedff3;
                        border-radius: 10px;
                    }

                    .thumbnail {
                        img {
                            border-radius: 8px;
                            border: 1px solid #0a0b01;
                        }
                    }

                    .item-details {
                        p {
                            margin-bottom: 4px;
                            font-size: 17px;
                        }

                        a {
                            color: #2c3e50;

                            &:hover {
                                color: #2d6cdf;
                            }
                        }
                    }
                }
            }
        }

        .card-footer {
            background: #fafafa;

            .btn {
                border-radius: 50px;
                font-size: 17px;
                padding: 6px 14px;
                margin-right: 6px;

                &.btn-success {
                    background: #085a1b;
                    border: none;

                   
                }

                &.btn-info {
                    background: #0f61dc;
                    border: none;
                    color: #fff;

                   
                }
            }
        }
    }

    .banner {
        text-align: center;
        margin-top: 20px;

        .btn {
            border-radius: 30px;
            padding: 10px 25px;
            font-weight: 600;
        }
    }

    .alert {
        text-align: center;
        border-radius: 10px;
    }
}
/* ADress Page Style*/

.Adress-style {
    max-width: 600px;
    margin: 60px auto;
    padding: 30px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    border: 1px solid #222020;

    h3 {
        text-align: center;
        margin-bottom: 25px;
        font-weight: 600;
        color: #102a53;
    }

    form {
        ul {
            list-style: none;
            padding: 0;

            li {
                background: #f7f9fc;
                padding: 15px;
                margin-bottom: 12px;
                border-radius: 12px;
                border: 1px solid #6d6d6f;
                transition: 0.3s;

                &:hover {
                    background: #eef3ff;
                    border-color: #76a1e6;
                }

                label {
                    cursor: pointer;
                    font-size: 15px;
                    color: #333;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    input[type="radio"] {
                        transform: scale(1.2);
                        accent-color: #0d3471;
                    }
                }
            }
        }

        .btn-primary {
            width: 70%;
            margin-top: 15px;
            border-radius: 30px;
            padding: 10px;
            font-weight: 600;
            background: linear-gradient(45deg, #b8cef2, #1a5edb);
           color: #000;
        }
    }

    .btn-danger {
        width: 70%;
        margin-top: 15px;
        border-radius: 30px;
        padding: 10px;
        font-weight: 600;
        background: linear-gradient(45deg, #edcbcb, #eac3c3);
       
        color: #000;
    }
}
/* ADDING Adress Details*/
.selectin-address {
    max-width: 600px;
    margin: 70px auto;
    padding: 35px;
    background: #ffffff;
    border-radius: 22px;
    border: 1px solid #423e3e;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);

    form {
        display: flex;
        flex-direction: column;
        gap: 14px;

        p {
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            label {
                font-size: 14px;
                font-weight: 600;
                color: #0d3471;
                margin-bottom: 6px;
            }

            input,
            textarea,
            select {
                width: 100%;
                padding: 12px;
                border-radius: 12px;
                border: 1px solid #3f4042;
                font-size: 14px;
                transition: 0.3s ease;
                background: #f9fbff;

                &:focus {
                    border-color: #1c1d1d;
                    background: #ffffff;
                    box-shadow: 0 0 8px rgba(40,167,69,0.2);
                    outline: none;
                 
                }
            }

            textarea {
                min-height: 90px;
                resize: none;
            }
        }

        .btn-success {
            margin-top: 15px;
            padding: 12px;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 600;
           width: 300px;
            background: linear-gradient(45deg, #d2f3da, #70d487);
            transition: 0.3s ease;
             border: 1px solid #171616;
        }

        .btn-success:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 18px rgba(0,0,0,0.15);
            color: #000;
        }
    }
}

/* FAILURE */
.Failure {
    max-width: 380px;
    margin: 80px auto;
    padding: 25px;
    text-align: center;
    background: #fff;
    border-radius: 14px;
    border: 1px solid #e0b4b4;
    box-shadow: 0 6px 18px rgba(0,0,0,0.08);

    h1 {
        color: #dc3545;
        font-size: 26px;
        margin-bottom: 12px;
        font-weight: 700;
    }

    p {
        font-size: 14px;
        color: #444;
        margin-bottom: 18px;
    }

    h6 {
        margin-top: 10px;

        a {
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 20px;
            background: #dc3545;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            transition: 0.3s;

            &:hover {
                background: #b02a37;
                box-shadow: 0 4px 10px rgba(0,0,0,0.15);
            }
        }
    }
}
