.card{
    height: 100%;
    width: 250px;

}
.card-img-top{
height: 300px;
width: 100%;
}

.row{
    padding-left:50px;
    margin-top: 10px;
}
#products-container {
  background: white;
  padding-left: 3rem;
  padding-right: 3rem;
}


