<div id="carouselExampleCaptions" class="carousel slide">
    <!-- Indicators -->
  <div class="carousel-indicators">
      {% for image in carousel_images %}
    <button
     type="button" 
     data-bs-target="#carouselExampleCaptions" 
     data-bs-slide-to="{{ forloop.counter0 }}" 
     class="{% if forloop.first %}active{% endif %}" 
     aria-current="{% if forloop.first %}true{% endif %}"
      aria-label="Slide   {{ forloop.counter }}">
    </button>
         {% endfor %}
  </div>
  
    <!-- Slides -->
  <div class="carousel-inner">
    {% for carousel_image in carousel_images %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
      <img src="{{carousel_image.img.url}}" class="d-block w-100 " alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Smart Gadgets & Creative Tech</h5>
        <p>Headphones, drones, and cameras designed for modern lifestyles.</p>

        {% if image.link %}
                        <a href="{{ image.link }}" class="btn btn-sm btn-light">
                        <a href="{{ image.link }}" class="btn btn-sm btn-light-outline" target="_blank">
                            Explore
                        </a>
                    {% endif %}
      </div>
    </div>
    {% endfor %}
    
  </div>


    <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>