<div class="card cart-item">

  <div class="row g-3 align-items-center p-3">

    <!-- Image -->
    <div class="col-12 col-md-3 text-center">
      <img src="{{ item.product.thumbnail.url }}"
           class="img-fluid rounded-3 cart-image"
           alt="{{ item.product.title }}">
    </div>

    <!-- Product Info -->
    <div class="col-12 col-md-6">

      <h5 class="fw-semibold mb-1">
        {{ item.product.title }}
      </h5>

      <p class=" mb-2">
        {{ item.product.desc|truncatewords:15 }}
      </p>

      <!-- Price -->
      <div class="d-flex align-items-center gap-2 mb-3">
        {% if item.product.discount > 0 %}
          <span class="text-muted text-decoration-line-through small">
            ₹ {{ item.product.price }}
          </span>

          <span class="badge bg-danger">
            {{ item.product.discount }}% OFF
          </span>

          <span class="fw-bold ">
            ₹ {{ item.product.offer_price|floatformat:2 }}
          </span>
        {% else %}
          <span class="fw-bold ">
            ₹ {{ item.product.price|floatformat:2 }}
          </span>
        {% endif %}
      </div>

      <!-- Quantity Controls -->
      <div class="d-flex align-items-center gap-2">

        <button class="btn btn-danger decrease btn-sm "
                data-id="{{ item.product.id }}">
          −
        </button>

        <span class="fw-medium px-2"
              id="qty-{{ item.product.id }}">
          {{ item.quantity }}
        </span>

        <button class="btn btn-success btn-sm increase"
                data-id="{{ item.product.id }}">
          +
        </button>

        <button class="btn btn-danger  w-50 ms-auto p-0 remove"
                data-id="{{ item.product.id }}">
          Remove
        </button>

      </div>

    </div>

    <!-- Subtotal -->
    <div class=" total">
      <span class="text-dark ">Total</span>
      <span class="fw-bold fs-5">
        ₹ {{ item.subtotal|floatformat:2 }}
      </span>
    </div>

  </div>

</div>
